.app-wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    "app-sidebar app-header"
    "app-sidebar app-main"
    "app-sidebar app-footer";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: auto 1fr;
  max-width: 100vw;
  min-height: 100vh;

  .app-header {
    grid-area: app-header;
  }
}
